* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* global classes */
.title {
  color: rgba(0, 0, 0, 1);
  font-size: 36px;
  font-weight: 700;
}
.description {
  color: rgba(125, 121, 135, 1);
  font-size: 18px;
  font-weight: 300;
}
.cardTitle {
  color: rgba(0, 0, 0, 1);
  font-size: 24px;
  font-weight: 700;
}
#nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 20px 0;
  z-index: 1000;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 20px;
}
#logo {
  color: white;
  padding: 12px;
  border-radius: 50%;
  font-weight: 700;
  background-color: #458ff6;
}
.logo-text {
  color: black;
  font-weight: 800;
}
#navigation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  list-style: none;
}
#navigation-container li a {
  text-decoration: none;
  color: rgba(175, 171, 171, 0.997);
  font-size: 16px;
  font-weight: 400;
}
#navigation-container li a.links:hover {
  font-weight: 500;
  color: black;
}
/* Hero section */
#hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin-top: 80px;
}
.hero-text-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.hero-text-container h2 {
  font-size: 48px;
  font-weight: 700;
}
.hero-text-container p {
  color: rgba(125, 121, 135, 1);
  font-size: 21px;
  font-weight: 300;
}
.btn {
  width: 200px;
  height: 60px;
  border-radius: 55px;
  background-color: #458ff6;
  color: white;
  font-weight: 500;
  border: none;
  margin-top: 20px;
}
.hero-img-container {
  width: 650;
  height: 580px;
}
.hero-img-container img {
  width: 100%;
  height: auto;
}
/* service section */
.serviceSection{
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}
.serviceCardContainer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  gap: 28px;
}
.serviceCard{
  display: flex;
  width: 350px;
  flex-direction: column;
  gap:16px;
  text-align: left;
  padding: 40px;
  background-color: white;
  border-radius: 24px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

